* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: #00194A;
  color: #F8F7F6;
}

.main-container {
  width: 100%;
  height: fit-content;
}

.title-container {
  height: fit-content;
  max-width: 96%;
  border-bottom: 2px dashed #F8F7F6;
}
@media only screen and (min-width: 1280px) {
  .title-container {
    max-width: 50%;
  }
}
.title-container--contact {
  max-width: 96%;
  border-bottom: 2px dashed #F8F7F6;
}
@media only screen and (min-width: 1280px) {
  .title-container--contact {
    max-width: 50%;
    min-width: 550px;
    max-width: 50%;
  }
}

h2 {
  font-family: "Skranji", cursive;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.625rem;
  line-height: 3rem;
  text-shadow: 0 6px 4px rgba(0, 0, 0, 0.7);
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 1.875rem;
    line-height: 3.375rem;
  }
}

p {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 1.375rem;
    line-height: 2.0625rem;
  }
}

a {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.5px;
  color: #F8F7F6;
  border-bottom: 2px solid transparent;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

.modal-background-close {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 46px;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.bubble-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 10;
  opacity: 0.4;
  overflow: hidden;
}
.bubble-container__bubbles {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.bubble-container__bubbles span {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: rgba(255, 72, 32, 0.6);
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 10px 8px rgba(255, 72, 32, 0.7), 0 0 25px #FD5F00, 0 0 75px #FD5F00;
  animation: bubbles 20s linear infinite;
  animation-duration: calc(350s / var(--i));
}
.bubble-container__bubbles span:nth-child(even) {
  background-color: rgba(45, 123, 216, 0.6);
  box-shadow: 0 0 10px 8px rgba(45, 123, 216, 0.7), 0 0 25px #2D7BD8, 0 0 75px #2D7BD8;
}

.checkpoint {
  position: absolute;
  top: -44px;
  opacity: 0;
}

.service-card {
  min-width: 280px;
  max-width: 284px;
  margin: 0 24px;
  padding: 28px;
  border: 2px solid #2D7BD8;
  position: relative;
  z-index: 50;
  border-radius: 14px;
  background-color: #00194A;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.7);
}
@media only screen and (min-width: 768px) {
  .service-card {
    margin: 0;
    max-width: 290px;
  }
}
@media only screen and (min-width: 820px) {
  .service-card {
    max-width: 316px;
  }
}
.service-card__title {
  font-family: "Skranji", cursive;
  width: fit-content;
  padding-bottom: 4px;
  color: #FF4820;
  font-size: 1.375rem;
  line-height: 1.875rem;
  max-width: 96%;
  border-bottom: 2px dashed #F8F7F6;
  min-width: fit-content;
  margin: 0 auto 18px;
}
@media only screen and (min-width: 1280px) {
  .service-card__title {
    max-width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .service-card__title {
    text-align: center;
    font-size: 1.625rem;
    line-height: 2.25rem;
  }
}
.service-card__icon-container {
  width: 44px;
  height: 44px;
  margin: 0 auto 16px;
  padding: 12px;
  border: 2px solid #231D19;
  border-radius: 50%;
  background-color: #F8F7F6;
}
@media only screen and (min-width: 768px) {
  .service-card__icon-container {
    width: 50px;
    height: 50px;
  }
}
.service-card__icon-container img {
  width: 100%;
  height: 100%;
}
.service-card p {
  padding: 0 8px;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .service-card p {
    font-size: 1.375rem;
    line-height: 2.0625rem;
  }
}

.work-card {
  width: 94%;
  min-width: 280px;
  position: relative;
  overflow: hidden;
  padding: 28px;
  border: 2px solid #2D7BD8;
  position: relative;
  z-index: 50;
  border-radius: 14px;
  background-color: #00194A;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.7);
  transition: all 400ms ease-out;
}
@media only screen and (min-width: 768px) {
  .work-card {
    margin: 0;
    max-width: 568px;
  }
}
@media only screen and (min-width: 1280px) {
  .work-card {
    max-width: 764px;
  }
}
.work-card__title {
  font-family: "Skranji", cursive;
  width: fit-content;
  padding-bottom: 4px;
  color: #FF4820;
  font-size: 1.375rem;
  line-height: 1.875rem;
  max-width: 96%;
  border-bottom: 2px dashed #F8F7F6;
  min-width: fit-content;
}
@media only screen and (min-width: 1280px) {
  .work-card__title {
    max-width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .work-card__title {
    text-align: center;
    font-size: 1.625rem;
    line-height: 2.25rem;
  }
}
.work-card__title:nth-child(1) {
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .work-card__title:nth-child(1) {
    margin: 8px auto 0;
  }
}
@media only screen and (min-width: 768px) {
  .work-card__title:nth-child(4) {
    margin-left: 8px;
  }
}
.work-card p {
  width: 70%;
  margin: 24px 0;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .work-card p {
    margin: 28px 0;
    margin-left: 8px;
    font-size: 1.375rem;
    line-height: 2.0625rem;
  }
}
@media only screen and (min-width: 1280px) {
  .work-card p {
    max-width: 60%;
  }
}
.work-card__tecnologies-container {
  margin: 24px 12px 16px;
  display: flex;
  gap: 12px;
}
@media only screen and (min-width: 768px) {
  .work-card__tecnologies-container {
    margin: 32px 20px 24px;
    gap: 16px;
  }
}
.work-card__tecnologies-container .tecnologie {
  width: auto;
  height: 28px;
}
@media only screen and (min-width: 768px) {
  .work-card__tecnologies-container .tecnologie {
    height: 34px;
  }
}
.work-card__tecnologies-container .tecnologie img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.9));
}
.work-card__expand {
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 14px;
  right: 10px;
  background-image: url("/assets/icons/expand.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  .work-card__expand {
    width: 22px;
    height: 22px;
    bottom: 20px;
    right: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .work-card__expand {
    display: none;
  }
}
.work-card__mockups-container {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  right: calc(0% - 150px);
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .work-card__mockups-container {
    right: calc(0% - 200px);
  }
}
.work-card__mockups-container div {
  width: 270px;
  height: 180px;
}
@media only screen and (min-width: 768px) {
  .work-card__mockups-container div {
    width: 390px;
    height: 250px;
  }
}
@media only screen and (min-width: 1280px) {
  .work-card__mockups-container div {
    width: 440px;
    height: 300px;
  }
}
.work-card__mockups-container div:nth-child(2) {
  display: none;
}
.work-card__mockups-container img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.9));
}
.work-card__close {
  display: none;
}
.work-card__scroll-dots {
  display: none;
}
.work-card a {
  display: none;
}
.work-card:hover {
  scale: 1.01;
  border-color: rgba(248, 247, 246, 0.1);
  box-shadow: 0 0 4px #2D7BD8;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.button {
  padding: 11px;
  font-weight: bold;
  border: 1px solid transparent;
  position: relative;
  z-index: 100;
  background-color: #FD5F00;
  border-radius: 14px;
  color: #00194A;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.8);
}
@media only screen and (min-width: 768px) {
  .button {
    padding: 12px;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}
.button--home, .button--footer {
  width: 160px;
  opacity: 0;
  transition: all 400ms ease-out 100ms;
}
@media only screen and (min-width: 768px) {
  .button--home, .button--footer {
    width: 220px;
  }
}
.button--home:hover, .button--footer:hover {
  background-color: transparent;
  color: #FD5F00;
  border: 1px solid #FD5F00;
  transition: all 300ms ease-out 50ms;
}
.button--home:active, .button--footer:active {
  transform: scale(0.94);
  transition: all 300ms ease-out;
}
.button--footer {
  opacity: 1;
}

.button-bottom {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 100;
  bottom: 16px;
  right: 12px;
  border-radius: 50%;
  background-color: #FD5F00;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.8);
  transition: all 400ms ease-out 100ms;
}
@media only screen and (min-width: 768px) {
  .button-bottom {
    width: 48px;
    height: 48px;
    bottom: 28px;
    right: 20px;
  }
}
.button-bottom--contact {
  position: fixed;
  scale: initial;
  opacity: 0;
}
.button-bottom--contact img {
  width: 20px;
  height: 18px;
  position: relative;
  top: 11px;
  left: 10px;
}
@media only screen and (min-width: 768px) {
  .button-bottom--contact img {
    width: 24px;
    height: 22px;
    top: 13px;
    left: 12px;
  }
}
.button-bottom--goup {
  margin: 0;
  bottom: 24px;
}
@media only screen and (min-width: 1280px) {
  .button-bottom--goup {
    display: none;
  }
}
.button-bottom--goup img {
  width: 18px;
  height: 18px;
  position: relative;
  top: 11px;
  left: 11px;
}
@media only screen and (min-width: 768px) {
  .button-bottom--goup img {
    width: 24px;
    height: 24px;
    top: 13px;
    left: 13px;
  }
}
.button-bottom:hover {
  background-color: #E64B00;
  transition: all 300ms ease-out 50ms;
}
.button-bottom:active {
  transform: scale(0.9);
  transition: all 300ms ease-out;
}

.social-media {
  display: flex;
  gap: 20px;
  z-index: 100;
}
.social-media a {
  display: flex;
  align-items: center;
  width: 32px;
  height: auto;
  border: none;
  transition: all 400ms ease-in-out 50ms;
}
.social-media a img {
  filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.9));
}
.social-media a:hover {
  transform: scale(0.9);
  transition: all 300ms ease-in-out 30ms;
}
.social-media a:active {
  transform: scale(0.9);
}
.social-media a:nth-child(2) {
  width: 33px;
  height: auto;
}
.social-media--home {
  position: absolute;
  bottom: 88px;
  right: calc(50% - 80px);
  opacity: 0;
}
@media only screen and (min-width: 768px) {
  .social-media--home {
    right: calc(50% - 96px);
    gap: 28px;
  }
  .social-media--home a {
    width: 44px;
  }
  .social-media--home a:nth-child(2) {
    width: 48px;
  }
}
@media only screen and (min-width: 1280px) {
  .social-media--home {
    width: fit-content;
    flex-direction: column;
    position: fixed;
    left: 48px;
    bottom: 0;
  }
  .social-media--home a {
    width: 32px;
  }
  .social-media--home a:nth-child(2) {
    width: 36px;
  }
  .social-media--home span {
    background-color: #F8F7F6;
    height: 140px;
    width: 1px;
    margin: 0 auto;
  }
}
.social-media--footer {
  justify-content: center;
  position: relative;
  z-index: 100;
}
@media only screen and (min-width: 768px) {
  .social-media--footer {
    right: calc(50% - 96px);
    gap: 32px;
  }
  .social-media--footer a {
    width: 48px;
  }
  .social-media--footer a:nth-child(2) {
    width: 52px;
  }
}
@media only screen and (min-width: 1280px) {
  .social-media--footer a {
    width: 36px;
  }
  .social-media--footer a:nth-child(2) {
    width: 40px;
  }
}
.social-media--navbar {
  margin-top: 24px;
}
@media only screen and (min-width: 768px) {
  .social-media--navbar {
    display: none;
  }
}
.social-media--navbar a {
  width: 26px;
}
.social-media--navbar a:nth-child(2) {
  width: 28px;
}

.navbar-container {
  width: 100%;
  height: 48px;
  padding: 0 20px;
  position: fixed;
  z-index: 300;
  border-radius: 0 0 14px 14px;
  background-color: rgba(35, 29, 25, 0.9);
  transform: translateY(-84px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.8);
}
@media only screen and (min-width: 768px) {
  .navbar-container {
    height: 64px;
    padding: 0 40px;
  }
}
@media only screen and (min-width: 1280px) {
  .navbar-container {
    height: 68px;
  }
}
.navbar-container__navbar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: inherit;
}
@media only screen and (min-width: 1280px) {
  .navbar-container__navbar {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}
.navbar-container__logo-container {
  width: 32px;
  height: 32px;
}
@media only screen and (min-width: 768px) {
  .navbar-container__logo-container {
    width: 44px;
    height: 44px;
  }
}
@media only screen and (min-width: 1280px) {
  .navbar-container__logo-container {
    width: 48px;
    height: 48px;
  }
}
.navbar-container__logo-container img {
  width: 100%;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.8));
}
.navbar-container__icon-menu {
  height: 28px;
  display: flex;
  place-items: center;
  gap: 4px;
}
.navbar-container__icon-menu span {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  background-color: #FF4820;
}
.navbar-container__icon-menu img {
  width: 22px;
  height: 22px;
  position: relative;
  top: 12px;
  right: 8px;
  z-index: 20;
}
@media only screen and (min-width: 768px) {
  .navbar-container__icon-menu {
    display: none;
  }
}
.navbar-container__icon-menu:hover {
  cursor: pointer;
}
.navbar-container__nav-menu {
  padding: 36px 48px 56px;
  position: absolute;
  top: 40px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  border-bottom-left-radius: 14px;
  background-color: inherit;
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
@media only screen and (min-width: 768px) {
  .navbar-container__nav-menu {
    margin-top: 8px;
    padding: 0;
    position: initial;
    flex-direction: row;
    gap: 24px;
    background-color: initial;
    visibility: visible;
    opacity: 1;
  }
}
@media only screen and (min-width: 1280px) {
  .navbar-container__nav-menu {
    justify-self: center;
    gap: 28px;
    visibility: inherit;
  }
}
.navbar-container__nav-menu li a {
  position: relative;
  border-bottom: 2px solid transparent;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: all 300ms ease-out;
}
@media only screen and (min-width: 768px) {
  .navbar-container__nav-menu li a {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}
.navbar-container__nav-menu li a:hover {
  color: #FD5F00;
  border-bottom: 2px solid currentColor;
  transition: all 400ms ease-out 50ms;
}
.navbar-container__nav-menu li a:active {
  transform: scale(0.94);
  transition: none;
}

.home-container {
  height: 100vh;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .home-container {
    min-height: 1024px;
  }
}
@media only screen and (min-width: 1280px) {
  .home-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 57% 43%;
  }
}
.home-container__logo-container {
  display: none;
  grid-column: 2/3;
  grid-row: 1/2;
}
@media only screen and (min-width: 768px) {
  .home-container__logo-container {
    width: 70%;
    height: 40%;
    margin: 0 auto 12px;
    display: grid;
  }
}
@media only screen and (min-width: 768px) and (min-width: 1280px) {
  .home-container__logo-container {
    height: 100%;
    margin: 0;
  }
}
@media only screen and (min-width: 768px) {
  .home-container__logo-container img {
    width: 220px;
    place-self: end center;
    filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.7));
    transform: translatey(0px);
    animation: moveUpDown 3700ms ease-in-out infinite;
  }
}
@media only screen and (min-width: 768px) and (min-width: 1280px) {
  .home-container__logo-container img {
    width: 250px;
    margin-left: 56px;
    place-self: center start;
  }
}
.home-container__info-container {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, auto) auto 60px;
  place-content: center;
}
@media only screen and (min-width: 768px) {
  .home-container__info-container {
    height: auto;
  }
  .home-container__info-container p {
    font-size: 1.625rem;
    line-height: 2.4375rem;
  }
}
@media only screen and (min-width: 1280px) {
  .home-container__info-container {
    position: relative;
    top: 48px;
    justify-content: end;
  }
}
.home-container__title {
  grid-row: 2/3;
}
.home-container__title h1 {
  margin: 12px 0 10px;
  font-family: "Skranji", cursive;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 2.625rem;
  line-height: 2.4375rem;
  text-shadow: 0 5px 3px rgba(0, 0, 0, 0.9);
}
@media only screen and (min-width: 768px) {
  .home-container__title h1 {
    margin: 16px 0 12px;
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}
.home-container__subtitle {
  margin-bottom: 16px;
  padding-bottom: 4px;
  font-family: "Skranji", cursive;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.875rem;
  line-height: 1.875rem;
  max-width: 96%;
  border-bottom: 2px dashed #F8F7F6;
  min-width: fit-content;
  text-shadow: 0 5px 3px rgba(0, 0, 0, 0.9);
}
@media only screen and (min-width: 1280px) {
  .home-container__subtitle {
    max-width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .home-container__subtitle {
    font-size: 3.25rem;
    line-height: 3.375rem;
  }
}
.home-container p:nth-child(4) {
  margin-bottom: 20px;
  padding-left: initial;
  width: 280px;
  max-width: auto;
}
@media only screen and (min-width: 768px) {
  .home-container p:nth-child(4) {
    margin-bottom: 28px;
    padding-left: initial;
    width: auto;
    max-width: 480px;
  }
}
@media only screen and (min-width: 1280px) {
  .home-container p:nth-child(4) {
    padding-left: initial;
    width: auto;
    max-width: 548px;
  }
}

.services-container {
  width: 100%;
  padding: 32px 24px 80px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .services-container {
    padding: 52px 80px 100px;
  }
}
@media only screen and (min-width: 1280px) {
  .services-container {
    padding: 64px 136px 100px;
  }
}
.services-container > p {
  margin-top: 24px;
  padding-left: 12px;
  width: auto;
  max-width: 400px;
}
@media only screen and (min-width: 768px) {
  .services-container > p {
    padding-left: none;
    width: auto;
    max-width: 480px;
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
.services-container__cards-container {
  margin: 28px auto 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;
}
@media only screen and (min-width: 768px) {
  .services-container__cards-container {
    margin-top: 36px;
    gap: 32px 24px;
  }
}
@media only screen and (min-width: 1280px) {
  .services-container__cards-container {
    max-width: 1008px;
  }
}

.works-container {
  width: 100%;
  padding: 32px 24px 80px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .works-container {
    padding: 52px 80px 100px;
  }
}
@media only screen and (min-width: 1280px) {
  .works-container {
    padding: 64px 136px 100px;
  }
}
.works-container > p {
  margin-top: 24px;
  padding-left: 12px;
  width: auto;
  max-width: 436px;
}
@media only screen and (min-width: 768px) {
  .works-container > p {
    padding-left: none;
    width: none;
    max-width: 480px;
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
.works-container__cards-container {
  margin-top: 28px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 28px;
}
@media only screen and (min-width: 768px) {
  .works-container__cards-container {
    margin-top: 36px;
    gap: 32px;
  }
}
.works-container > a {
  margin: 36px auto;
  width: fit-content;
  display: block;
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.8);
  font-style: italic;
  position: relative;
  z-index: 100;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  color: #2D7BD8;
  transition: all 300ms ease-in-out 30ms;
}
.works-container > a:hover {
  border-bottom: 2px solid currentColor;
  transition: all 400ms ease-out 50ms;
}
.works-container > a span {
  width: 13px;
  height: 13px;
  margin-right: 2px;
  display: inline-block;
  background-image: url("../assets/icons/plus.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.8));
}
@media only screen and (min-width: 768px) {
  .works-container > a {
    margin-top: 60px;
    font-style: italic;
    position: relative;
    z-index: 100;
    font-size: 1.375rem;
    line-height: 2.0625rem;
  }
}

.about-container {
  background-color: #231D19;
  width: 100%;
  padding: 32px 24px 80px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .about-container {
    padding: 52px 80px 100px;
  }
}
@media only screen and (min-width: 1280px) {
  .about-container {
    padding: 64px 136px 100px;
  }
}
@media only screen and (min-width: 1280px) {
  .about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 24px;
  }
}
.about-container .title-container {
  grid-column: 1/3;
  grid-row: 1/2;
}
.about-container p {
  padding-left: 12px;
  width: auto;
  max-width: 96%;
}
@media only screen and (min-width: 1280px) {
  .about-container p {
    padding-left: none;
    width: auto;
    max-width: 98%;
  }
}
.about-container__personal-info {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  grid-column: 1/2;
  grid-row: 2/4;
}
.about-container__personal-info a {
  margin: 12px 0 48px 12px;
  width: fit-content;
  display: block;
  font-style: italic;
  position: relative;
  z-index: 100;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  color: #2D7BD8;
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.8);
  transition: all 300ms ease-in-out 30ms;
}
@media only screen and (min-width: 768px) {
  .about-container__personal-info a {
    margin-bottom: 60px;
    font-style: italic;
    position: relative;
    z-index: 100;
    font-size: 1.375rem;
    line-height: 2.0625rem;
    color: #2D7BD8;
  }
}
.about-container__personal-info a:hover {
  border-bottom: 2px solid currentColor;
  transition: all 400ms ease-out 50ms;
}
.about-container__subtitle {
  font-family: "Skranji", cursive;
  text-transform: uppercase;
  font-size: 1.375rem;
  line-height: 2.8125rem;
  text-shadow: 0 6px 4px rgba(0, 0, 0, 0.7);
  max-width: 96%;
  border-bottom: 2px dashed #F8F7F6;
  width: fit-content;
  padding-right: 24px;
}
@media only screen and (min-width: 1280px) {
  .about-container__subtitle {
    max-width: 50%;
    min-width: fit-content;
  }
}
@media only screen and (min-width: 768px) {
  .about-container__subtitle {
    font-size: 1.625rem;
    line-height: 3.1875rem;
  }
}
.about-container__what-i-do, .about-container__how-i-do-it {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media only screen and (min-width: 1280px) {
  .about-container__what-i-do, .about-container__how-i-do-it {
    margin-top: 24px;
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
.about-container__how-i-do-it {
  margin-top: 48px;
}
@media only screen and (min-width: 1280px) {
  .about-container__how-i-do-it {
    grid-row: 3/4;
  }
}

footer {
  max-height: 740px;
  display: grid;
  grid-template-rows: repeat(3, auto) repeat(2, 1fr) auto;
}
@media only screen and (min-width: 768px) {
  footer {
    max-height: 800px;
  }
}
@media only screen and (min-width: 1280px) {
  footer {
    max-height: fit-content;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3, max-content) 1fr max-content;
  }
}

.contact-container {
  height: 96vh;
  background-color: #231D19;
  width: 100%;
  padding: 32px 24px 80px;
  position: relative;
  padding-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .contact-container {
    padding: 52px 80px 100px;
  }
}
@media only screen and (min-width: 1280px) {
  .contact-container {
    padding: 64px 136px 100px;
  }
}
@media only screen and (min-width: 768px) {
  .contact-container {
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 1280px) {
  .contact-container {
    max-height: 584px;
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .contact-container header {
    grid-column: 1/3;
    grid-row: 1/2;
  }
}
.contact-container header + p {
  margin-top: 24px;
  padding-left: 12px;
  width: auto;
  max-width: 436px;
}
@media only screen and (min-width: 768px) {
  .contact-container header + p {
    padding-left: initial;
    width: auto;
    max-width: 572px;
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
@media only screen and (min-width: 1280px) {
  .contact-container header + p {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
.contact-container .button {
  display: block;
  margin: 28px auto;
}
@media only screen and (min-width: 768px) {
  .contact-container .button {
    margin: 32px auto;
  }
}
@media only screen and (min-width: 1280px) {
  .contact-container .button {
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 32px 0;
  }
}
.contact-container__info-social {
  place-self: center;
}
@media only screen and (min-width: 1280px) {
  .contact-container__info-social {
    grid-column: 2/3;
    grid-row: 4/5;
    place-self: end;
  }
}
.contact-container__info-social p {
  text-align: center;
  margin: 0 auto 24px;
  padding-left: initial;
  width: auto;
  max-width: fit-content;
}
@media only screen and (min-width: 768px) {
  .contact-container__info-social p {
    margin: 12px auto 36px;
  }
}
@media only screen and (min-width: 1280px) {
  .contact-container__info-social p {
    margin-bottom: 24px;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}
.contact-container div + p {
  margin-bottom: 44px;
  position: relative;
  z-index: 100;
  align-self: end;
  padding-left: initial;
  width: auto;
  max-width: 420px;
}
@media only screen and (min-width: 1280px) {
  .contact-container div + p {
    margin: 0;
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
.contact-container div + p a {
  font-style: italic;
  position: relative;
  z-index: 100;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  color: #2D7BD8;
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.8);
  transition: all 300ms ease-in-out 30ms;
}
.contact-container div + p a:hover {
  border-bottom: 2px solid currentColor;
  transition: all 400ms ease-out 50ms;
}
@media only screen and (min-width: 768px) {
  .contact-container div + p a {
    font-style: italic;
    position: relative;
    z-index: 100;
    font-size: 1.375rem;
    line-height: 2.0625rem;
    color: #2D7BD8;
  }
}
.contact-container div + p a span {
  width: 10px;
  height: 10px;
  margin-left: 2px;
  display: inline-block;
  align-self: center;
  background-image: url("../assets/icons/arrowUR.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.8));
}
@media only screen and (min-width: 768px) {
  .contact-container div + p a span {
    width: 12px;
    height: 12px;
  }
}
.contact-container p + p {
  font-size: 1rem;
  line-height: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .contact-container p + p {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .contact-container p + p {
    margin-top: 36px;
    grid-column: 1/3;
    grid-row: 5/6;
    justify-self: center;
  }
}
.contact-container p + p span {
  font-style: italic;
  position: relative;
  z-index: 100;
  font-size: 1rem;
  line-height: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .contact-container p + p span {
    font-style: italic;
    position: relative;
    z-index: 100;
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }
}
.contact-container__nav-menu {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .contact-container__nav-menu {
    margin-top: 24px;
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 14px;
    grid-column: 2/3;
    grid-row: 2/4;
    justify-self: end;
    text-align: end;
  }
}
.contact-container__nav-menu a {
  width: 120px;
  font-size: 1.25rem;
  line-height: 1.875rem;
  transition: all 300ms ease-out;
}
.contact-container__nav-menu a:active {
  transform: scale(0.94);
}
.contact-container__nav-menu a:hover {
  color: #FD5F00;
  border-bottom: 2px solid currentColor;
  transition: all 400ms ease-out 50ms;
}

.showNavBar {
  transform: translateY(0px);
  transition: transform 2200ms ease-in-out 2500ms;
}

.showNavMenu {
  visibility: visible;
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.hiddenObjects {
  visibility: hidden;
  opacity: 0;
  transition: all 700ms ease-in-out;
}

.showObjects {
  visibility: visible;
  opacity: 1;
  transition: all 1200ms ease-in-out 500ms;
}

.showBtnBottom {
  opacity: 1;
  transition: all 700ms ease-out;
}

.showBtnBottomHome {
  opacity: 1;
  transition: opacity 2200ms ease-out 2100ms;
}

.showFixerSocialMedia {
  visibility: visible;
  opacity: 1;
  transition: opacity 2300ms ease-out 2700ms;
}

.addOpacity {
  opacity: 0.45;
  transition: all 1000ms ease-out;
}

.scaleObject {
  scale: 0.88;
  transition: all 700ms ease-out;
}

.modal-background-open {
  display: block;
  z-index: 100;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.no-scroll {
  overflow: hidden;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes bubbles {
  0% {
    transform: translateY(110vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}

/*# sourceMappingURL=main.css.map */
