* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #00194A;
  color: #F8F7F6;
}

.main-container {
  width: 100%;
  height: fit-content;
}

.title-container {
  max-width: 96%;
  border-bottom: 2px dashed #F8F7F6;
}

h2 {
  font-family: "Skranji", cursive;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.625rem;
  line-height: 3rem;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 1.875rem;
    line-height: 3.375rem;
  }
}

p {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}

a {
  font-family: "Chakra Petch", sans-serif;
  text-decoration: none;
  letter-spacing: 0.5px;
  color: #F8F7F6;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

.checkpoint {
  position: absolute;
  top: -44px;
  opacity: 0;
}

.service-card {
  min-width: 280px;
  max-width: 284px;
  margin: 0 24px;
  padding: 28px;
  border: 2px solid #2D7BD8;
  border-radius: 14px;
  background-color: #00194A;
}
@media only screen and (min-width: 768px) {
  .service-card {
    margin: 0;
    max-width: 290px;
  }
}
@media only screen and (min-width: 820px) {
  .service-card {
    max-width: 316px;
  }
}
.service-card__title {
  font-family: "Skranji", cursive;
  width: fit-content;
  padding-bottom: 4px;
  color: #FF4820;
  font-size: 1.375rem;
  line-height: 1.875rem;
  max-width: 96%;
  border-bottom: 2px dashed #F8F7F6;
  margin: 0 auto 18px;
}
@media only screen and (min-width: 768px) {
  .service-card__title {
    text-align: center;
    font-size: 1.625rem;
    line-height: 2.25rem;
  }
}
.service-card__icon-container {
  width: 44px;
  height: 44px;
  margin: 0 auto 16px;
  padding: 12px;
  border: 2px solid #231D19;
  border-radius: 50%;
  background-color: #F8F7F6;
}
@media only screen and (min-width: 768px) {
  .service-card__icon-container {
    width: 50px;
    height: 50px;
  }
}
.service-card__icon-container img {
  width: 100%;
  height: 100%;
}
.service-card p {
  padding: 0 8px;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .service-card p {
    font-size: 1.375rem;
    line-height: 1.875rem;
  }
}

.work-card {
  width: 94%;
  min-width: 280px;
  position: relative;
  overflow: hidden;
  padding: 28px;
  border: 2px solid #2D7BD8;
  border-radius: 14px;
  background-color: #00194A;
}
@media only screen and (min-width: 768px) {
  .work-card {
    margin: 0;
    max-width: 568px;
  }
}
.work-card__title {
  font-family: "Skranji", cursive;
  width: fit-content;
  padding-bottom: 4px;
  color: #FF4820;
  font-size: 1.375rem;
  line-height: 1.875rem;
  max-width: 96%;
  border-bottom: 2px dashed #F8F7F6;
}
@media only screen and (min-width: 768px) {
  .work-card__title {
    text-align: center;
    font-size: 1.625rem;
    line-height: 2.25rem;
  }
}
.work-card__title:nth-child(1) {
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .work-card__title:nth-child(1) {
    margin: 8px auto 0;
  }
}
@media only screen and (min-width: 768px) {
  .work-card__title:nth-child(4) {
    margin-left: 8px;
  }
}
.work-card p {
  width: 70%;
  margin: 24px 0;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .work-card p {
    margin: 28px 0;
    margin-left: 8px;
    font-size: 1.375rem;
    line-height: 2.0625rem;
  }
}
.work-card__tecnologies-container {
  margin: 24px 12px 16px;
  display: flex;
  gap: 12px;
}
@media only screen and (min-width: 768px) {
  .work-card__tecnologies-container {
    margin: 32px 20px 24px;
    gap: 16px;
  }
}
.work-card__tecnologies-container .tecnologie {
  width: auto;
  height: 28px;
}
@media only screen and (min-width: 768px) {
  .work-card__tecnologies-container .tecnologie {
    height: 34px;
  }
}
.work-card__tecnologies-container .tecnologie img {
  width: 100%;
  height: 100%;
}
.work-card__expand {
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 14px;
  right: 10px;
  background-image: url("/assets/icons/expand.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  .work-card__expand {
    width: 22px;
    height: 22px;
    bottom: 20px;
    right: 16px;
  }
}
.work-card__mockups-container {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  right: calc(0% - 140px);
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .work-card__mockups-container {
    right: calc(0% - 150px);
  }
}
.work-card__mockups-container div {
  width: 260px;
  height: 180px;
}
@media only screen and (min-width: 768px) {
  .work-card__mockups-container div {
    width: 330px;
    height: 250px;
  }
}
.work-card__mockups-container div:nth-child(2) {
  display: none;
}
.work-card__mockups-container img {
  width: 100%;
  height: 100%;
}
.work-card__close {
  display: none;
}
.work-card__scroll-dots {
  display: none;
}
.work-card a {
  display: none;
}

.button, .button-bottom {
  padding: 11px;
  font-weight: bold;
  background-color: #FD5F00;
  border-radius: 14px;
  color: #00194A;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .button, .button-bottom {
    padding: 16px;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}
.button--home, .button--footer {
  width: 160px;
}
@media only screen and (min-width: 768px) {
  .button--home, .button--footer {
    width: 228px;
    font-size: 1.375rem;
    line-height: 1.875rem;
  }
}
.button-bottom {
  width: 40px;
  height: 40px;
  padding: 0;
  position: absolute;
  bottom: 16px;
  right: 12px;
  border-radius: 50%;
}
@media only screen and (min-width: 768px) {
  .button-bottom {
    width: 64px;
    height: 64px;
    bottom: 28px;
    right: 20px;
  }
}
.button-bottom--contact {
  position: fixed;
}
.button-bottom--contact img {
  width: 20px;
  height: 18px;
  position: relative;
  top: 12px;
}
@media only screen and (min-width: 768px) {
  .button-bottom--contact img {
    width: 32px;
    height: 24px;
    top: 20px;
  }
}
.button-bottom--goup {
  margin: 0;
  bottom: 24px;
}
.button-bottom--goup img {
  width: 18px;
  height: 18px;
  position: relative;
  top: 11px;
}
@media only screen and (min-width: 768px) {
  .button-bottom--goup img {
    width: 30px;
    height: 30px;
    top: 16px;
  }
}

.social-media {
  display: flex;
  gap: 20px;
}
.social-media a {
  display: flex;
  align-items: center;
  width: 32px;
  height: auto;
}
.social-media a:nth-child(2) {
  width: 33px;
  height: auto;
}
.social-media--home {
  position: absolute;
  bottom: 88px;
  right: calc(50% - 68px);
}
@media only screen and (min-width: 768px) {
  .social-media--home {
    right: calc(50% - 96px);
    gap: 28px;
  }
  .social-media--home a {
    width: 44px;
  }
  .social-media--home a:nth-child(2) {
    width: 48px;
  }
}
.social-media--footer {
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .social-media--footer {
    right: calc(50% - 96px);
    gap: 32px;
  }
  .social-media--footer a {
    width: 48px;
  }
  .social-media--footer a:nth-child(2) {
    width: 52px;
  }
}
.social-media--navbar {
  margin-top: 24px;
}
@media only screen and (min-width: 768px) {
  .social-media--navbar {
    display: none;
  }
}
.social-media--navbar a {
  width: 26px;
}
.social-media--navbar a:nth-child(2) {
  width: 28px;
}

.navbar-container {
  width: 100%;
  height: 48px;
  padding: 0 20px;
  position: fixed;
  z-index: 10;
  border-radius: 0 0 14px 14px;
  background-color: #231D19;
}
@media only screen and (min-width: 768px) {
  .navbar-container {
    height: 72px;
    padding: 0 40px;
  }
}
.navbar-container__navbar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-container__logo-container {
  width: 32px;
  height: 32px;
}
@media only screen and (min-width: 768px) {
  .navbar-container__logo-container {
    width: 44px;
    height: 44px;
  }
}
.navbar-container__logo-container img {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .navbar-container__icon-menu {
    display: none;
  }
}
.navbar-container__icon-menu i {
  font-size: 48px;
  color: #FF4820;
}
.navbar-container__nav-menu {
  padding: 36px 48px 56px;
  position: absolute;
  top: 36px;
  right: 0;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  border-bottom-left-radius: 14px;
  background-color: #231D19;
}
@media only screen and (min-width: 768px) {
  .navbar-container__nav-menu {
    padding: 0;
    position: initial;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}
.navbar-container__nav-menu a li {
  font-size: 1rem;
  line-height: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .navbar-container__nav-menu a li {
    font-size: 1.375rem;
    line-height: 1.875rem;
  }
}

.home-container {
  height: 100vh;
  position: relative;
}
.home-container__logo-container {
  display: none;
}
@media only screen and (min-width: 768px) {
  .home-container__logo-container {
    width: 70%;
    height: 40%;
    margin: 0 auto 12px;
    display: grid;
  }
  .home-container__logo-container img {
    width: 220px;
    place-self: end center;
  }
}
.home-container__info-container {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, auto) auto 60px;
  place-content: center;
}
@media only screen and (min-width: 768px) {
  .home-container__info-container {
    height: auto;
  }
  .home-container__info-container p {
    font-size: 1.75rem;
    line-height: 2.4375rem;
  }
}
.home-container__title {
  grid-row: 2/3;
}
.home-container__title h1 {
  margin: 12px 0 10px;
  font-family: "Skranji", cursive;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 2.625rem;
  line-height: 2.4375rem;
}
@media only screen and (min-width: 768px) {
  .home-container__title h1 {
    margin: 16px 0 12px;
    font-size: 4.75rem;
    line-height: 4.5rem;
  }
}
.home-container__subtitle {
  margin-bottom: 16px;
  font-family: "Skranji", cursive;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.875rem;
  line-height: 1.875rem;
}
@media only screen and (min-width: 768px) {
  .home-container__subtitle {
    font-size: 3.375rem;
    line-height: 3.375rem;
  }
}
.home-container p:nth-child(4) {
  margin-bottom: 20px;
  padding-left: initial;
  width: 280px;
  max-width: auto;
}
@media only screen and (min-width: 768px) {
  .home-container p:nth-child(4) {
    margin-bottom: 28px;
    padding-left: initial;
    width: auto;
    max-width: 480px;
  }
}

.services-container {
  width: 100%;
  padding: 32px 24px 80px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .services-container {
    padding: 52px 80px 100px;
  }
}
.services-container > p {
  margin-top: 24px;
  padding-left: 12px;
  width: auto;
  max-width: 400px;
}
@media only screen and (min-width: 768px) {
  .services-container > p {
    padding-left: 12px;
    width: auto;
    max-width: 480px;
  }
}
.services-container__cards-container {
  margin-top: 28px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;
}
@media only screen and (min-width: 768px) {
  .services-container__cards-container {
    margin-top: 36px;
    gap: 32px 24px;
  }
}

.works-container {
  width: 100%;
  padding: 32px 24px 80px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .works-container {
    padding: 52px 80px 100px;
  }
}
.works-container > p {
  margin-top: 24px;
  padding-left: 12px;
  width: auto;
  max-width: 436px;
}
@media only screen and (min-width: 768px) {
  .works-container > p {
    padding-left: none;
    width: none;
    max-width: 480px;
  }
}
.works-container__cards-container {
  margin-top: 28px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 28px;
}
@media only screen and (min-width: 768px) {
  .works-container__cards-container {
    margin-top: 36px;
    gap: 32px;
  }
}
.works-container > a {
  margin-top: 36px;
  display: block;
  text-align: center;
  font-style: italic;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  color: #2D7BD8;
}
.works-container > a span {
  width: 13px;
  height: 13px;
  margin-right: 2px;
  display: inline-block;
  background-image: url("/assets/icons/plus.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  .works-container > a {
    margin-top: 60px;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}

.about-container {
  background-color: #231D19;
  width: 100%;
  padding: 32px 24px 80px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .about-container {
    padding: 52px 80px 100px;
  }
}
.about-container p, .about-container .about-container__personal-info a, .about-container__personal-info .about-container a {
  padding-left: 12px;
  width: auto;
  max-width: 96%;
}
.about-container__personal-info {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about-container__personal-info a {
  margin: 12px 0 48px;
  font-style: italic;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  color: #2D7BD8;
}
@media only screen and (min-width: 768px) {
  .about-container__personal-info a {
    margin-bottom: 60px;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
.about-container__subtitle {
  font-family: "Skranji", cursive;
  text-transform: uppercase;
  font-size: 1.375rem;
  line-height: 2.8125rem;
  max-width: 96%;
  border-bottom: 2px dashed #F8F7F6;
  width: fit-content;
  padding-right: 24px;
}
@media only screen and (min-width: 768px) {
  .about-container__subtitle {
    font-size: 1.625rem;
    line-height: 3.1875rem;
  }
}
.about-container__what-i-do, .about-container__how-i-do-it {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about-container__how-i-do-it {
  margin-top: 48px;
}

footer {
  display: grid;
  grid-template-rows: repeat(3, auto) repeat(2, 1fr) auto;
}

.contact-container {
  height: 96vh;
  max-height: 760px;
  background-color: #231D19;
  width: 100%;
  padding: 32px 24px 80px;
  position: relative;
  padding-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .contact-container {
    padding: 52px 80px 100px;
  }
}
@media only screen and (min-width: 768px) {
  .contact-container {
    padding-bottom: 40px;
  }
}
.contact-container header + p {
  margin-top: 24px;
  padding-left: 12px;
  width: auto;
  max-width: 436px;
}
@media only screen and (min-width: 768px) {
  .contact-container header + p {
    padding-left: initial;
    width: auto;
    max-width: 572px;
  }
}
.contact-container .button {
  display: block;
  margin: 28px auto;
}
@media only screen and (min-width: 768px) {
  .contact-container .button {
    margin: 32px auto;
  }
}
.contact-container__info-social {
  place-self: center;
}
.contact-container__info-social p {
  text-align: center;
  margin: 0 auto 24px;
  padding-left: initial;
  width: auto;
  max-width: 220px;
}
@media only screen and (min-width: 768px) {
  .contact-container__info-social p {
    margin: 12px auto 36px;
    padding-left: initial;
    width: auto;
    max-width: 280px;
  }
}
.contact-container div + p {
  margin-bottom: 44px;
  align-self: end;
  padding-left: initial;
  width: auto;
  max-width: 420px;
}
@media only screen and (min-width: 768px) {
  .contact-container div + p {
    padding-left: initial;
    width: auto;
    max-width: px;
  }
}
.contact-container div + p a {
  margin-right: 2px;
  font-style: italic;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  color: #2D7BD8;
}
@media only screen and (min-width: 768px) {
  .contact-container div + p a {
    font-style: italic;
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
.contact-container div + p span {
  width: 10px;
  height: 10px;
  margin-right: 2px;
  display: inline-block;
  background-image: url("/assets/icons/arrowUR.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  .contact-container div + p span {
    width: 14px;
    height: 14px;
  }
}
.contact-container p + p {
  font-size: 1rem;
  line-height: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .contact-container p + p {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}
.contact-container p + p span {
  font-style: italic;
  font-size: 1rem;
  line-height: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .contact-container p + p span {
    font-style: italic;
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}

/*# sourceMappingURL=main.css.map */
