@use 'variables' as *;
@use 'mixins' as *;

.about-container {
  background-color: $dark-color;
  @include sections();
  p {
    @include paragraphs(12px, auto, 96%);
  }
  &__personal-info {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    a {
      margin: 12px 0 48px;
      @extend p;
      @include links(18px, blue-color);
      @include media(tablet-s) {
        margin-bottom: 60px;
        @include links(24px, none);
      }
    }
  }
  &__subtitle {
    @include titles(subtitle);
    @include title-underline(subtitle);
  }
  &__what-i-do {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__how-i-do-it {
    @extend .about-container__what-i-do;
    margin-top: 48px;
  }
}