@use 'variables' as *;
@use 'mixins' as *;

.service-card {
  min-width: 280px;
  max-width: 284px;
  margin: 0 24px;
  @include caja();
  @include media(tablet-s) {
    margin: 0;
    max-width: 290px;
  }
  @include media(tablet-m) {
    max-width: 316px;
  }
  &__title {
    @include titles(h3);
    margin: 0 auto 18px;
  }
  &__icon-container {
    width: 44px;
    height: 44px;
    margin: 0 auto 16px;
    padding: 12px;
    border: 2px solid $dark-color;
    border-radius: 50%;
    background-color: $light-color;
    @include media(tablet-s) {
      width: 50px;
      height: 50px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  p {
    padding: 0 8px;
    text-align: center;
    @include font-size(16px, 16px);
    @include media(tablet-s) {
      @include font-size(22px, 22px);
    }
  }
}

.work-card {
  width: 94%;
  min-width: 280px;
  position: relative;
  overflow: hidden;
  @include caja();
  @include media(tablet-s) {
    margin: 0;
    max-width: 568px;
  }
  @include media(desktop-s) {
    max-width: 764px;
  }
  &__title {
    @include titles(h3);
    &:nth-child(1) {
      margin: 0 auto;
      @include media(tablet-s) {
        margin: 8px auto 0;
      }
    }
    &:nth-child(4) {
      @include media(tablet-s) {
        margin-left: 8px;
      }
    }
  }
  p {
    width: 70%;
    margin: 24px 0;
    display: inline-block;
    @include font-size(16px, 16px);
    @include media(tablet-s) {
      margin: 28px 0;
      margin-left: 8px;
      @include font-size(22px, 22px);
    }
    @include media(desktop-s) {
      max-width: 60%;
    }
  }
  &__tecnologies-container {
    margin: 24px 12px 16px;
    display: flex;
    gap: 12px;
    @include media(tablet-s) {
      margin: 32px 20px 24px;
      gap: 16px;
    }
    .tecnologie {
      width: auto;
      height: 28px;
      @include media(tablet-s) {
        height: 34px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__expand {
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 14px;
    right: 10px;
    background-image: url('/assets/icons/expand.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    @include media(tablet-s) {
      width: 22px;
      height: 22px;
      bottom: 20px;
      right: 16px;
    }
    @include media(desktop-s) {
      display: none;
    }
  }
  &__mockups-container {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    right: calc(0% - 150px);
    display: flex;
    align-items: center;
    @include media(tablet-s) {
      right: calc(0% - 200px);
    }
    div {
      width: 270px;
      height: 180px;
      @include media(tablet-s) {
        width: 390px;
        height: 250px;
      }
      @include media(desktop-s) {
        width: 440px;
        height: 300px;
      }
    }
    div:nth-child(2) {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }


  // MODAL
  &__close {
    display: none;
  }
  &__scroll-dots {
    display: none;
  }
  a {
    display: none;
  }
}