@use 'variables' as *;
@use 'mixins' as *;

footer {
  max-height: 740px;
  display: grid;
  grid-template-rows: repeat(3, auto) repeat(2, 1fr) auto;
  @include media(tablet-s) {
    max-height: 800px;
  }
  @include media(desktop-s) {
    max-height: fit-content;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3, max-content) 1fr max-content;
  }
}

.contact-container {
  height: 96vh;
  background-color: $dark-color;
  @include sections();
  padding-bottom: 24px;
  @include media(tablet-s) {
    padding-bottom: 40px;
  }
  @include media(desktop-s) {
    max-height: 584px;
    padding-bottom: 20px;
  }
  header {
    @include media(desktop-s) {
      grid-column: 1/3;
      grid-row: 1/2;
    }
  }
  header + p {
    margin-top: 24px;
    @include paragraphs(12px, auto, 436px);
    @include media(tablet-s) {
      @include paragraphs(initial, auto, 572px);
      @include font-size(24px, 24px);
    }
    @include media(desktop-s) {
      grid-column: 1/2;
      grid-row: 2/3;
    }
  }
  .button {
    display: block;
    margin: 28px auto;
    @include media(tablet-s) {
      margin: 32px auto;
    }
    @include media(desktop-s) {
      grid-column: 1/2;
      grid-row: 3/4;
      margin: 32px 0;
    }
  }
  &__info-social {
    place-self: center;
    @include media(desktop-s) {
      grid-column: 2/3;
      grid-row: 4/5;
      place-self: end;
    }
    p {
      text-align: center;
      margin: 0 auto 24px;
      @include paragraphs(initial, auto, fit-content);
      @include media(tablet-s) {
        margin: 12px auto 36px;
      }
      @include media(desktop-s) {
        margin-bottom: 24px;
        @include font-size(20px, 20px);
      }
    }
  }
  div + p {
    margin-bottom: 44px;
    position: relative;
    z-index: 100;
    align-self: end;
    @include paragraphs(initial, auto, 420px);
    @include media(desktop-s) {
      margin: 0;
      grid-column: 1/2;
      grid-row: 4/5;
    }
    a {
      @include links(18px, blue-color);
      @include textShadows(links);
      @include hoverLinks();
      @include media(tablet-s) {
        @include links(22px, blue-color);
      }
      span {
        width: 10px;
        height: 10px;
        margin-left: 2px;
        display: inline-block;
        align-self: center;
        background-image: url('/assets/icons/arrowUR.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @include shadows(icons2, $black);
        @include media(tablet-s) {
          width: 12px;
          height: 12px;
        }
      }
    }
  }
  p + p {
    @include font-size(16px, 16px);
    @include media(tablet-s) {
      @include font-size(18px, 16px);
    }
    @include media(desktop-s) {
      margin-top: 36px;
      grid-column: 1/3;
      grid-row: 5/6;
      justify-self: center;
    }
    span {
      @include links(16px, 16px);
      @include media(tablet-s) {
        @include links(18px, initial);
      }
    }
  }
  &__nav-menu {
    display: none;
    @include media(desktop-s) {
      margin-top: 24px;
      position: relative;
      z-index: 100;
      display: flex;
      flex-direction: column;
      gap: 14px;
      grid-column: 2/3;
      grid-row: 2/4;
      justify-self: end;
      text-align: end;
    }
    a {
      width: 120px;
      @include font-size(20px, 20px);
      &:active {
        transform: scale(.94);
      }
      &:hover {
        color: $action-primary-color;
        border-bottom: 2px solid currentColor;
        transition: all 400ms ease-out 50ms;
      }
      transition: all 300ms ease-out; 
    }
  }
}