@use 'variables' as *;

@function calculateRem($size) {
  @return calc($size/16px)*1rem;
}

@mixin font-size($size, $height) {
  font-size: calculateRem($size);
  line-height: calculateRem($height)*1.5;
}

@mixin paragraphs($tab, $width, $max-width) {
  padding-left: $tab;
  width: $width;
  max-width: $max-width;
}

@mixin title-underline($type) {
  max-width: 96%;
  border-bottom: 2px dashed $light-color;
  @if ($type == subtitle) {
    width: fit-content;
    padding-right: 24px;
  }
}

@mixin titles($type) {
  font-family: $fuente1;
  @if($type == h2) {
    text-transform: uppercase;
    font-weight: 400;
    @include font-size(26px, 32px);
    @include media(tablet-s) {
      @include font-size(30px, 36px);
    }

  } @else if ($type == subtitle) {
    text-transform: uppercase;
    @include font-size(22px, 30px);
    @include media(tablet-s) {
      @include font-size(26px, 34px);
    }

  } @else if ($type == h3) {
    width: fit-content;
    padding-bottom: 4px;
    color: $secundary-color;
    @include font-size(22px, 20px);
    @include title-underline(none);
    @include media(tablet-s) {
      text-align: center;
      @include font-size(26px, 24px);
    }
  }
}

@mixin links($size, $color) {
  font-style: italic;

  @include font-size($size, $size);

  @if $color == blue-color {  
    color: $action-secundary-color;
  }
}

@mixin sections() {
  width: 100%;
  padding: 32px 24px 80px;
  position: relative;
  @include media(tablet-s) {
    padding: 52px 80px 100px;
  }
}

@mixin caja() {
  padding: 28px;
  border: 2px solid $action-secundary-color;
  border-radius: 14px;
  background-color: $primary-color;
}

@mixin checkpoint {
  position: absolute;
  top: -44px;
  opacity: 0;
}

@mixin media ($breakpoint) {  
  @if $breakpoint == tablet-s {  
    @media only screen and (min-width: 768px) { @content; }
  }

  @else if $breakpoint == tablet-m {  
    @media only screen and (min-width: 820px) { @content; }
  }
  
  @else if $breakpoint == desktop-s {  
    @media only screen and (min-width: 992px) { @content; }
  }
  
  @else if $breakpoint == desktop-m {  
    @media only screen and (min-width: 1200px) { @content; }
  }
}