@use 'mixins' as *;

.works-container {
  @include sections();
  > p {
    margin-top: 24px;
    @include paragraphs(12px, auto, 436px);
    @include media(tablet-s) {
      @include paragraphs(none, none, 480px);
    }
  }
  &__cards-container {
    margin-top: 28px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 28px;
    @include media(tablet-s) {
      margin-top: 36px;
      gap: 32px;
    }
  }
  > a {
    margin-top: 36px;
    display: block;
    text-align: center;

    @include links(18px, blue-color);
    span {
      width: 13px;
      height: 13px;
      margin-right: 2px;
      display: inline-block;
      background-image: url('/assets/icons/plus.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    @include media(tablet-s) {
      margin-top: 60px;
      @include links(24px, none);
    }
  }
}