@use 'mixins' as *;

.services-container {
  @include sections();
  > p {
    margin-top: 24px;
    @include paragraphs(12px,auto, 400px);
    @include media(tablet-s) {
      @include paragraphs(12px,auto, 480px);
    }
  }
  &__cards-container {
    margin-top: 28px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 28px;
    @include media(tablet-s) {
      margin-top: 36px;
      gap: 32px 24px;
    }
  }
}