@use 'variables' as *;
@use 'mixins' as *;

.social-media {
  display: flex;
  gap: 20px;
  a {
    display: flex;
    align-items: center;
    width: 32px;
    height: auto;
  }
  a:nth-child(2) {
    width: 33px;
    height: auto;
  }
  &--home {
    position: absolute;
    bottom: 88px;
    right: calc(50% - 68px);
    z-index: 10;
    @include media(tablet-s) {
      right: calc(50% - 96px);
      gap: 28px;
      a {
        width: 44px;
      }
      a:nth-child(2) {
        width: 48px;
      }
    }
    @include media(desktop-s) {
      width: fit-content;
      flex-direction: column;
      position: fixed;
      left: 48px;
      bottom: 0;
      a {
        width: 32px;
      }
      a:nth-child(2) {
        width: 36px;
      }
      span {
        background-color: $light-color;
        height: 140px;
        width: 1px;
        margin: 0 auto;
      }
    }
  }
  &--footer {
    justify-content: center;
    @include media(tablet-s) {
      right: calc(50% - 96px);
      gap: 32px;
      a {
        width: 48px;
      }
      a:nth-child(2) {
        width: 52px;
      }
    }
    @include media(desktop-s) {
      a {
        width: 36px;
      }
      a:nth-child(2) {
        width: 40px;
      }
    }
  }
  &--navbar {
    margin-top: 24px;
    @include media(tablet-s) {
      display: none;
    }
    a {
      width: 26px;
    }
    a:nth-child(2) {
      width: 28px;
    }
  }
}