$primary-color: #00194A;
$secundary-color: #FF4820;
$dark-color: #231D19;
$light-color: #F8F7F6;
$action-primary-color: #FD5F00;
$action-secundary-color: #2D7BD8;
$black: #000000;
$fuente1:'Chakra Petch', sans-serif;
$fuente2:'Skranji', cursive;